@font-face {
  font-family: 'YoungSerif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #5f564d;
}

.title {
  font-family: 'YoungSerif', sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}

.description {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0px;
}

.preparation-time {
  font-family: 'Outfit', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0px;
}

.preparation-time-ul {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
}

.title-h2 {
  font-family: 'YoungSerif', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0px;
}
