@font-face {
  font-family: 'YoungSerif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/static/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  color: var(--clr-stone-600);
}

.text-preset-1 {
  font-family: 'YoungSerif', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-2 {
  font-family: 'YoungSerif', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
}

.text-preset-4 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4-bold {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-4 strong {
  font-weight: 700;
}
