:root {
  --clr-rose-800: #7a284e;
  --clr-rose-50: #fff7fb;
  --clr-stone-100: #f3e5d7;
  --clr-stone-150: #e3ddd7;
  --clr-stone-600: #5f564d;
  --clr-stone-900: #312e2c;
  --clr-brown-800: #854632;

  --font-young: 'YoungSerif', serif;
  --font-outfit: 'Outfit', sans-serif;

  --spacing-1600: 8rem;
  --spacing-600: 3rem;
  --spacing-500: 2.5rem;
  --spacing-400: 2rem;
  --spacing-300: 1.5rem;
  --spacing-200: 1rem;
  --spacing-150: 0.75rem;
  --spacing-100: 0.5rem;
  --spacing-table-y-a: 0.546875rem;
  --spacing-table-y-b: 0.53125rem;
}
